.projects-content-info {
  max-width: 65ch;
  text-align: center;
}

.card {
  background: #27272a;
  width: 25%;
  border-radius: 15px;
  transition: all .5s;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  border-radius: 15px 15px 0px 0px;
  background-color: red;
  background-size: cover;
  background-position: center;
  height: 320px;
}

#card-image-picture-1 {background-image: url("../../../public/app1.png");}
#card-image-picture-2 {background-image: url("../../../public/app2.png");}
#card-image-picture-3 {background-image: url("../../../public/app3.png");}

.card-content {
  padding: 30px;
}

.button {
  transition: all 0.5s;
  margin: 0 auto;
}

.button:hover {
  color: #10172a;
  background-color: white;
  transform: scale(1.05);
  transition-timing-function: ease-in-out;
}

@media only screen and (max-width: 600px) {

  .projects-title {
    font-size: 3.65em;
    margin: 1em 0em 0em 0em;
  }

  .projects-content-info {
    margin: 3.25em;
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
  }

  .card-one, .card-two, .card-three {
    width: 70%;
  }

  .card-two {
    margin: 10% 0%;
  }

  .projects-indicator {
    margin: 0;
  }

}