.indicator {
    position: relative;
    animation-name: Bounce;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes Bounce {
    0% {
      top: 0px;
    }
    15% {
      top: 15px;
    }
    30% {
      top: 0px;
    }
    45% {
      top: 10px;
    }
    60% {
      top: 0px;
    }
    75% {
      top: 5px;
    }
    90% {
      top: 0px;
    }
    100% {
      top: 0px;
    }
  }