.title-contact {
  max-width: 15ch;
}

.contact-form-question {
  max-width: 65ch;
}

.button-form {
  transition: all 0.5s;
}

.button-form:hover {
  color: #10172a;
  background-color: white;
  /* transform: scale(1.05); */
  transition-timing-function: ease-in-out;
}

input,
textarea {
  border-bottom: 2px solid white;
}

input::placeholder,
textarea::placeholder {
  color: rgb(217, 217, 217);
  opacity: 1;
  line-height: normal;
}

.contact-wrapper {
    margin: 0 auto;
}

.title-contact-responsive {
  display: none;
}

/************************ MEDIA QUERIES ************************/

@media only screen and (max-width: 600px) {

  .contact {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .contact-left, .contact-right {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .contact-right {
    display: flex;
    justify-content: center;
  }

  .contact-wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .icon-wrapper {
    margin: 0;
    margin-bottom: 3em;
  }

  .title-contact-responsive {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 4em;
  }

  .left-bar, .title-contact, .text-form-responsive {
    display: none;
  }

  form {
    margin-top: 0 !important;
    margin-bottom: 4em;
  }

  .input-one {
    margin-top: 0;
  }

  .contact-form-content {
    width: 25em;
  }

  .button-and-response {
    display: flex;
    margin: 0 auto;
    margin-top: 2.5em;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
  }

  .text-thanks {
    margin: 0 auto;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
  }

}