.whole-bar {
  position: fixed;
  width: 100vw; /* vw mantiene el ancho total de la pantalla. */
  z-index: 30; /* Para que no se solapen elementos por encima del fixed. */
}

.navbar-links {
  list-style-type: none;
}

.page-title {
  transition: all .5s;
}

.page-title:hover {
  transform: scale(1.05);
}

.link {
  transition: all .5s;
}

.link:hover {
  color: red;
  transform: scale(1.05);
}

.link:active {
  color: pink;
  transform: scale(1.10);
}