.whole-bar {
  position: fixed;
  width: 100vw; /* vw mantiene el ancho total de la pantalla. */
  z-index: 30; /* Para que no se solapen elementos por encima del fixed. */
}

.navbar-links {
  list-style-type: none;
}

.page-title {
  transition: all .5s;
}

.page-title:hover {
  transform: scale(1.05);
}

.link {
  transition: all .5s;
}

.link:hover {
  color: red;
  transform: scale(1.05);
}

.link:active {
  color: pink;
  transform: scale(1.10);
}

/************************ MEDIA QUERIES ************************/

@media only screen and (max-width: 771px) {

  .whole-bar {
    width: 100%;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .navbar-links-container-left {
    padding: 0em;
  }

  .navbar-links-container-right {
    padding: 1.25em;
  }

  .page-title {
    display: none;
  }

  .link {
    margin: 0 auto;
    padding: 0em 1.5em;
    font-size: 1em;
  }
}
