.intro-left-image {
  background-image: url("../../../public/profile.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20%;
  transition: all 0.5s;
  width: 650px;
  height: 650px;
}

.intro-left-image:hover {
  background-image: url("../../../public/profile2.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.02);
}

.intro-right-wrapper-name {
  animation-name: Fade;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  font-family: "Montserrat", sans-serif;
}

.button-cv-download {
  transition: all 0.5s;
}

.button-cv-download:hover {
  color: #10172a;
  background-color: white;
  transform: scale(1.05);
  transition-timing-function: ease-in-out;
}

@keyframes Fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/************************ MEDIA QUERIES ************************/

/************************ Mobile ************************/

@media only screen and (max-width: 600px) {
  .intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    height: 100%;
  }

  .intro-left,
  .intro-right {
    width: 100%;
  }

  .intro-left-image {
    width: 17em;
    height: 17em;
    border-radius: 50%;
    margin-bottom: 2.25em;
    margin-top: 7em;
  }

  .indicator {
    margin-bottom: 5em;
  }

  .intro-right-wrapper-description {
    padding: 4% 12%;
  }
}

/************************ Tablets ************************/

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    height: 100%;
  }

  .intro-left,
  .intro-right {
    width: 100%;
  }

  .intro-left-image {
    width: 17em;
    height: 17em;
    border-radius: 50%;
    margin-bottom: 2.25em;
    margin-top: 7em;
  }

  .indicator {
    margin-bottom: 5em;
  }
}

/************************ Larger devices ************************/

@media only screen and (min-width: 901px) and (max-width: 1350px) {
  .intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    height: 100%;
  }

  .intro-left,
  .intro-right {
    width: 100%;
  }

  .intro-left-image {
    width: 17em;
    height: 17em;
    border-radius: 50%;
    margin-bottom: 2.25em;
    margin-top: 7em;
  }

  .intro-right-wrapper-description-paragraph {
    width: 77%;
    margin: 0 auto;
    margin-top: 2.5em;
  }

  .indicator {
    margin-bottom: 5em;
  }
}