.intro-left-image {
  background-image: url("../../../public/profile.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20%;
  transition: all 0.5s;
  width: 650px;
  height: 650px;
}

.intro-left-image:hover {
  background-image: url("../../../public/profile2.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.02);
}

.intro-right-wrapper-name {
  animation-name: Fade;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  font-family: "Montserrat", sans-serif;
}

.button-cv-download {
  transition: all 0.5s;
}

.button-cv-download:hover {
  color: #10172a;
  background-color: white;
  transform: scale(1.05);
  transition-timing-function: ease-in-out;
}

@keyframes Fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/************************ MEDIA QUERIES ************************/

@media only screen and (max-width: 600px) {

  .intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    height: 100%;
  }

  .intro-left, .intro-right {
    width: 100%;
  }

  .intro-left-image {
    width: 250px;
    height: 250px;
    margin-bottom: 30px;
    margin-top: 100px;
  }

  .indicator {
    margin-bottom: 70px;
  }


}