.icon-footer {
    transition: all .5s;
    position: relative;
    margin: 5px 0px;
}

.icon-footer:hover {
    transform: scale(1.2);   
}

.icon-footer-up:hover {
    transform: scale(1.2) rotate(360deg);
}

.logo-footer-scroll {
    transform: rotate(180deg);
    margin: 5px 0px;
}
